@charset "UTF-8";
/* <!-- */
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Open+Sans&display=swap");
:root {
  --textcolor_light: #3a3a3a;
  --backgroundcream_light: #e5e5e5;
  --workbackground_light: #cecece;
  --containerborder_light: rgb(148, 148, 148);
  --containerbackground_light: #fff;
  --navgrouptext_hover_light: rgb(154, 36, 79);
  --title_shadow_light: rgba(0, 0, 0, 0.32);
  --contrast_color_light: #9A244F;
  --contrast2_color_light: #bb4872;
  --current_work_foreground_light: white;
  --current_work_background_light: rgba(0, 0, 0, .6);
  --keyword_tag_selected_light: #90ee90;
  --feature_image_border_light: #eee;
  --header_light: #b3fcab;
  --selected_work_borderleft_light: #57bfb5;
  --contrast1_color_light: #bb4872;
  --contrast3_color_light: #90ee90;
  --contrast4_color_light: #bde5b9;
  --nav_link_color_light: #249A6F;
  --header_background_light: #686868;
  --begin_link_border_light: #b86583;
  --navgroup_sep_light: #888888;
  --begin_link_color: white;
}

[data-theme=dark] {
  --textcolor_light: #3a3a3a;
  --backgroundcream_light: #e5e5e5;
  --workbackground_light: #cecece;
  --containerborder_light: rgb(148, 148, 148);
  --containerbackground_light: #fff;
  --navgrouptext_hover_light: rgb(0, 0, 0);
  --title_shadow_light: rgba(0, 0, 0, 0.32);
  --contrast_color_light: #FFFFFF;
  --contrast1_color_light: #000000;
  --contrast2_color_light: #000000;
  --contrast4_color_light: #000000;
  --current_work_foreground_light: white;
  --current_work_background_light: rgba(0, 0, 0, .6);
  --keyword_tag_selected_light: lightgreen;
  --feature_image_border_light: #eee;
  --header_light: #000000;
  --selected_work_borderleft_light: #00000;
  --contrast3_color_light: #FFFFFF;
  --nav_link_color_light: #000000;
  --header_background_light: #686868;
  --begin_link_border_light: #c27b95;
  --navgroup_sep_light: #888888;
  --begin_link_color: black;
}

:root {
  --tagify-dd-color-primary: rgb(36,154,111);
  --tagify-dd-bg-color: white;
}

.tagify {
  --tags-disabled-bg: #F1F1F1;
  --tags-border-color: #DDD;
  --tags-hover-border-color: #CCC;
  --tags-focus-border-color: #249A6F;
  --tag-bg: #E5E5E5;
  --tag-hover: #D3E2E2;
  --tag-text-color: black;
  --tag-text-color--edit: black;
  --tag-pad: 0.3em 0.5em;
  --tag-inset-shadow-size: 1.1em;
  --tag-invalid-color: #c27b95;
  --tag-invalid-bg: rgba(211, 148, 148, 0.5);
  --tag-remove-bg: rgba(211, 148, 148, 0.3);
  --tag-remove-btn-color: black;
  --tag-remove-btn-bg: none;
  --tag-remove-btn-bg--hover: #c27b95;
  --input-color: inherit;
  --tag--min-width: 1ch;
  --tag--max-width: auto;
  --tag-hide-transition: 0.3s;
  --placeholder-color: rgba(0, 0, 0, 0.4);
  --placeholder-color-focus: rgba(0, 0, 0, 0.25);
  --loader-size: .8em;
  --readonly-striped: 1;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border: 1px solid #DDD;
  border: 1px solid var(--tags-border-color);
  padding: 0;
  line-height: 0;
  cursor: text;
  outline: none;
  position: relative;
  box-sizing: border-box;
  transition: 0.1s;
}
@keyframes tags--bump {
  30% {
    transform: scale(1.2);
  }
}
@keyframes rotateLoader {
  to {
    transform: rotate(1turn);
  }
}
.tagify:hover {
  border-color: #CCC;
  border-color: var(--tags-hover-border-color);
}
.tagify.tagify--focus {
  transition: 0s;
  border-color: #4fae8b;
  border-color: var(--tags-focus-border-color);
}
.tagify[disabled] {
  background: var(--tags-disabled-bg);
  filter: saturate(0);
  opacity: 0.5;
  pointer-events: none;
}
.tagify[readonly].tagify--select, .tagify[disabled].tagify--select {
  pointer-events: none;
}
.tagify[readonly]:not(.tagify--mix):not(.tagify--select), .tagify[disabled]:not(.tagify--mix):not(.tagify--select) {
  cursor: default;
}
.tagify[readonly]:not(.tagify--mix):not(.tagify--select) > .tagify__input, .tagify[disabled]:not(.tagify--mix):not(.tagify--select) > .tagify__input {
  visibility: hidden;
  width: 0;
  margin: 5px 0;
}
.tagify[readonly]:not(.tagify--mix):not(.tagify--select) .tagify__tag > div, .tagify[disabled]:not(.tagify--mix):not(.tagify--select) .tagify__tag > div {
  padding: 0.3em 0.5em;
  padding: var(--tag-pad);
}
.tagify[readonly]:not(.tagify--mix):not(.tagify--select) .tagify__tag > div::before, .tagify[disabled]:not(.tagify--mix):not(.tagify--select) .tagify__tag > div::before {
  animation: readonlyStyles 1s calc(-1s * (var(--readonly-striped) - 1)) paused;
}
@keyframes readonlyStyles {
  0% {
    background: linear-gradient(45deg, var(--tag-bg) 25%, transparent 25%, transparent 50%, var(--tag-bg) 50%, var(--tag-bg) 75%, transparent 75%, transparent) 0/5px 5px;
    box-shadow: none;
    filter: brightness(0.95);
  }
}
.tagify[readonly] .tagify__tag__removeBtn, .tagify[disabled] .tagify__tag__removeBtn {
  display: none;
}
.tagify--loading .tagify__input > br:last-child {
  display: none;
}
.tagify--loading .tagify__input::before {
  content: none;
}
.tagify--loading .tagify__input::after {
  content: "";
  vertical-align: middle;
  opacity: 1;
  width: 0.7em;
  height: 0.7em;
  width: var(--loader-size);
  height: var(--loader-size);
  border: 3px solid;
  border-color: #EEE #BBB #888 transparent;
  border-radius: 50%;
  animation: rotateLoader 0.4s infinite linear;
  content: "" !important;
  margin: -2px 0 -2px 0.5em;
}
.tagify--loading .tagify__input:empty::after {
  margin-left: 0;
}
.tagify + input,
.tagify + textarea {
  position: absolute !important;
  left: -9999em !important;
  transform: scale(0) !important;
}
.tagify__tag {
  display: inline-flex;
  align-items: center;
  margin: 5px 0 5px 5px;
  position: relative;
  z-index: 1;
  outline: none;
  line-height: normal;
  cursor: default;
  transition: 0.13s ease-out;
}
.tagify__tag > div {
  vertical-align: top;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0.3em 0.5em;
  padding: var(--tag-pad, 0.3em 0.5em);
  color: black;
  color: var(--tag-text-color, black);
  line-height: inherit;
  border-radius: 3px;
  white-space: nowrap;
  transition: 0.13s ease-out;
}
.tagify__tag > div > * {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: top;
  min-width: 1ch;
  max-width: auto;
  min-width: var(--tag--min-width, 1ch);
  max-width: var(--tag--max-width, auto);
  transition: 0.8s ease, 0.1s color;
}
.tagify__tag > div > *[contenteditable] {
  outline: none;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  cursor: text;
  margin: -2px;
  padding: 2px;
  max-width: 350px;
}
.tagify__tag > div::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  transition: 120ms ease;
  animation: tags--bump 0.3s ease-out 1;
  box-shadow: 0 0 0 1.1em #E5E5E5 inset;
  box-shadow: 0 0 0 var(--tag-inset-shadow-size, 1.1em) var(--tag-bg, #E5E5E5) inset;
}
.tagify__tag:hover:not([readonly]) div::before, .tagify__tag:focus div::before {
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  box-shadow: 0 0 0 1.1em #D3E2E2 inset;
  box-shadow: 0 0 0 var(--tag-inset-shadow-size, 1.1em) var(--tag-hover, #D3E2E2) inset;
}
.tagify__tag--loading {
  pointer-events: none;
}
.tagify__tag--loading .tagify__tag__removeBtn {
  display: none;
}
.tagify__tag--loading::after {
  --loader-size: .4em;
  content: "";
  vertical-align: middle;
  opacity: 1;
  width: 0.7em;
  height: 0.7em;
  width: var(--loader-size);
  height: var(--loader-size);
  border: 3px solid;
  border-color: #EEE #BBB #888 transparent;
  border-radius: 50%;
  animation: rotateLoader 0.4s infinite linear;
  margin: 0 0.5em 0 -0.1em;
}
.tagify__tag--flash div::before {
  animation: none;
}
.tagify__tag--hide {
  width: 0 !important;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s;
  transition: var(--tag-hide-transition, 0.3s);
  pointer-events: none;
}
.tagify__tag--hide > div > * {
  white-space: nowrap;
}
.tagify__tag.tagify--noAnim > div::before {
  animation: none;
}
.tagify__tag.tagify--notAllowed:not(.tagify__tag--editable) div > span {
  opacity: 0.5;
}
.tagify__tag.tagify--notAllowed:not(.tagify__tag--editable) div::before {
  box-shadow: 0 0 0 1.1em rgba(211, 148, 148, 0.5) inset !important;
  box-shadow: 0 0 0 var(--tag-inset-shadow-size, 1.1em) var(--tag-invalid-bg, rgba(211, 148, 148, 0.5)) inset !important;
  transition: 0.2s;
}
.tagify__tag[readonly] .tagify__tag__removeBtn {
  display: none;
}
.tagify__tag[readonly] > div::before {
  animation: readonlyStyles 1s calc(-1s * (var(--readonly-striped) - 1)) paused;
}
@keyframes readonlyStyles {
  0% {
    background: linear-gradient(45deg, var(--tag-bg) 25%, transparent 25%, transparent 50%, var(--tag-bg) 50%, var(--tag-bg) 75%, transparent 75%, transparent) 0/5px 5px;
    box-shadow: none;
    filter: brightness(0.95);
  }
}
.tagify__tag--editable > div {
  color: black;
  color: var(--tag-text-color--edit, black);
}
.tagify__tag--editable > div::before {
  box-shadow: 0 0 0 2px #D3E2E2 inset !important;
  box-shadow: 0 0 0 2px var(--tag-hover, #D3E2E2) inset !important;
}
.tagify__tag--editable > .tagify__tag__removeBtn {
  pointer-events: none;
}
.tagify__tag--editable > .tagify__tag__removeBtn::after {
  opacity: 0;
  transform: translateX(100%) translateX(5px);
}
.tagify__tag--editable.tagify--invalid > div::before {
  box-shadow: 0 0 0 2px #c27b95 inset !important;
  box-shadow: 0 0 0 2px var(--tag-invalid-color, #c27b95) inset !important;
}
.tagify__tag__removeBtn {
  order: 5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
  font: 14px/1 Trebuchet;
  background: none;
  background: var(--tag-remove-btn-bg, none);
  color: black;
  color: var(--tag-remove-btn-color, black);
  width: 14px;
  height: 14px;
  margin-right: 4.6666666667px;
  margin-left: auto;
  overflow: hidden;
  transition: 0.2s ease-out;
}
.tagify__tag__removeBtn::after {
  content: "×";
  transition: 0.3s, color 0s;
}
.tagify__tag__removeBtn:hover {
  color: white;
  background: #c27b95;
  background: var(--tag-remove-btn-bg--hover, #c77777);
}
.tagify__tag__removeBtn:hover + div > span {
  opacity: 0.5;
}
.tagify__tag__removeBtn:hover + div::before {
  box-shadow: 0 0 0 1.1em rgba(211, 148, 148, 0.3) inset !important;
  box-shadow: 0 0 0 var(--tag-inset-shadow-size, 1.1em) var(--tag-remove-bg, rgba(211, 148, 148, 0.3)) inset !important;
  transition: box-shadow 0.2s;
}
.tagify:not(.tagify--mix) .tagify__input br {
  display: none;
}
.tagify:not(.tagify--mix) .tagify__input * {
  display: inline;
  white-space: nowrap;
}
.tagify__input {
  flex-grow: 1;
  display: inline-block;
  min-width: 110px;
  margin: 5px;
  padding: 0.3em 0.5em;
  padding: var(--tag-pad, 0.3em 0.5em);
  line-height: normal;
  position: relative;
  white-space: pre-wrap;
  color: inherit;
  color: var(--input-color, inherit);
  box-sizing: inherit;
  /* Seems firefox newer versions don't need this any more
          @supports ( -moz-appearance:none ){
              &::before{
                  line-height: inherit;
                  position:relative;
              }
          }
  */
}
@-moz-document url-prefix() {}
.tagify__input:focus {
  outline: none;
}
.tagify__input:focus::before {
  transition: 0.2s ease-out;
  opacity: 0;
  transform: translatex(6px);
  /* ALL MS BROWSERS: hide placeholder (on focus) otherwise the caret is placed after it, which is weird */
  /* IE Edge 12+ CSS styles go here */
}
@supports (-ms-ime-align: auto) {
  .tagify__input:focus::before {
    display: none;
  }
}
.tagify__input:focus:empty::before {
  transition: 0.2s ease-out;
  opacity: 1;
  transform: none;
  color: rgba(0, 0, 0, 0.25);
  color: var(--placeholder-color-focus);
}
@-moz-document url-prefix() {
  .tagify__input:focus:empty::after {
    display: none;
  }
}
.tagify__input::before {
  content: attr(data-placeholder);
  height: 1em;
  line-height: 1em;
  margin: auto 0;
  z-index: 1;
  color: rgba(0, 0, 0, 0.4);
  color: var(--placeholder-color);
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  position: absolute;
}
.tagify__input::after {
  content: attr(data-suggest);
  display: inline-block;
  white-space: pre; /* allows spaces at the beginning */
  color: black;
  opacity: 0.3;
  pointer-events: none;
  max-width: 100px;
}
.tagify__input .tagify__tag {
  margin: 0 1px;
}
.tagify--mix {
  display: block;
}
.tagify--mix .tagify__input {
  padding: 5px;
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  display: block;
}
.tagify--mix .tagify__input::before {
  height: auto;
  display: none;
  line-height: inherit;
}
.tagify--mix .tagify__input::after {
  content: none;
}
.tagify--select::after {
  content: ">";
  opacity: 0.5;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  font: 16px monospace;
  line-height: 8px;
  height: 8px;
  pointer-events: none;
  transform: translate(-150%, -50%) scaleX(1.2) rotate(90deg);
  transition: 0.2s ease-in-out;
}
.tagify--select[aria-expanded=true]::after {
  transform: translate(-150%, -50%) rotate(270deg) scaleY(1.2);
}
.tagify--select .tagify__tag {
  position: absolute;
  top: 0;
  right: 1.8em;
  bottom: 0;
}
.tagify--select .tagify__tag div {
  display: none;
}
.tagify--select .tagify__input {
  width: 100%;
}
.tagify--empty .tagify__input::before {
  transition: 0.2s ease-out;
  opacity: 1;
  transform: none;
  display: inline-block;
  width: auto;
}
.tagify--mix .tagify--empty .tagify__input::before {
  display: inline-block;
}
.tagify--invalid {
  --tags-border-color: #D39494;
}
.tagify__dropdown {
  position: absolute;
  z-index: 9999;
  transform: translateY(1px);
  overflow: hidden;
}
.tagify__dropdown[placement=top] {
  margin-top: 0;
  transform: translateY(-100%);
}
.tagify__dropdown[placement=top] .tagify__dropdown__wrapper {
  border-top-width: 1.1px;
  border-bottom-width: 0;
}
.tagify__dropdown[position=text] {
  box-shadow: 0 0 0 3px rgba(var(--tagify-dd-color-primary), 0.1);
  font-size: 0.9em;
}
.tagify__dropdown[position=text] .tagify__dropdown__wrapper {
  border-width: 1px;
}
.tagify__dropdown__wrapper {
  max-height: 300px;
  overflow: auto;
  background: white;
  background: var(--tagify-dd-bg-color);
  border: 1px solid #249A6F;
  border-color: var(--tagify-dd-color-primary);
  border-bottom-width: 1.33px;
  border-top-width: 0;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
  transition: 0.25s cubic-bezier(0, 1, 0.5, 1);
}
.tagify__dropdown__header:empty {
  display: none;
}
.tagify__dropdown__footer {
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.3em 0.5em;
  font-size: 0.7em;
  font-style: italic;
  opacity: 0.5;
}
.tagify__dropdown__footer:empty {
  display: none;
}
.tagify__dropdown--initial .tagify__dropdown__wrapper {
  max-height: 20px;
  transform: translateY(-1em);
}
.tagify__dropdown--initial[placement=top] .tagify__dropdown__wrapper {
  transform: translateY(2em);
}
.tagify__dropdown__item {
  box-sizing: inherit;
  padding: 0.3em 0.5em;
  margin: 1px;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  outline: none;
}
.tagify__dropdown__item--active {
  background: #249A6F;
  background: var(--tagify-dd-color-primary);
  color: white;
}
.tagify__dropdown__item:active {
  filter: brightness(105%);
}

@font-face {
  font-family: "bebas";
  src: url("fonts/bebasneue-webfont.eot");
  src: url("fonts/bebasneue-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bebasneue-webfont.woff2") format("woff2"), url("fonts/bebasneue-webfont.woff") format("woff"), url("fonts/bebasneue-webfont.ttf") format("truetype"), url("fonts/bebasneue-webfont.svg#bebas_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.referenceHash {
  display: none;
}

div.aboutSubHeader:hover .referenceHash {
  display: initial;
}

#subtitle {
  display: flex;
  justify-content: space-between;
}

.title,
.author {
  display: relative;
}

.title {
  float: left;
  margin-left: 5%;
  font-size: 1em;
}

.author {
  float: right;
  font-size: 0.8em;
}

body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  color: --textcolor_light;
}

#main {
  background-color: #e5e5e5;
}

#workBody {
  background-color: var(--workbackground_light);
}

#cover {
  width: 75%;
  background-size: cover;
  margin-left: 11%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
  box-shadow: inset 0 0 50px #464646;
  border: 5px solid var(--feature_image_border_light);
}

.elcContainer h4 {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  padding: 0px 3%;
}

.elcContainer p {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  padding: 0px 3%;
  font-size: 1rem;
}

.elcContainer {
  background-color: var(--containerbackground_light);
  border-radius: 10px;
  border: 1px solid var(--containerborder_light);
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
}

#glossary {
  background-color: var(--backgroundcream_light);
  border-radius: 10px;
  border: 0;
  width: 80%;
  margin: auto;
  margin-bottom: 25px;
}

#glossary h2 {
  font-size: 2.25em;
  font-family: "Exo", sans-serif;
  font-weight: lighter;
}

#highlightedWorks h3 {
  margin: 5px;
}

#highlightedWorks #subtitle {
  font-weight: bolder;
  font-size: 1.25em;
}

#highlightedWorks #authors {
  font-style: italic;
}

#highlightedWorks img {
  margin-right: 3em;
}

#highlightedWorks {
  /* width: 100%; */
  /* height: 300px; */
  position: relative;
  background-color: var(--contrast_color_light);
  margin: auto;
  margin-bottom: 1%;
  padding: 10px;
}

.selectWorks {
  width: 80%;
  margin: auto;
}

.selectWorks h3 {
  font-family: "Exo", sans-serif;
  border-left: 5px solid var(--selected_work_borderleft_light);
  padding-left: 5px;
  font-weight: normal;
  font-size: 1.5em;
  text-transform: none;
  color: var(--textcolor_light);
}

#keywordsFilters {
  background-color: var(--backgroundcream_light);
  border: none;
}

#keywordsFilters h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: "Exo", sans-serif;
  border-left: 10px solid var(--contrast2_color_light);
  padding-left: 5px;
  font-weight: normal;
  font-size: 1.5em;
  text-transform: none;
  color: var(--textcolor_light);
}

.stickyheader {
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 999;
  background-color: var(--backgroundcream_light);
}

#headerLink {
  text-decoration: none;
}

#headerLink:hover {
  cursor: pointer;
  color: var(--contrast_color_light);
  text-decoration: none;
}

span.navLink:hover a {
  color: var(--contrast_color_light);
  text-decoration: none;
}

#header {
  width: 80%;
  margin: auto;
  background-color: var(--header_background_light);
  border-radius: 10px;
}

#header:hover h1 {
  color: var(--contrast_color_light);
}

#header h1 {
  color: var(--contrast3_color_light);
  text-align: center;
  font-size: 3em;
  margin-bottom: 1px;
  margin-top: 2px;
  padding-top: 2px;
  font-family: "Exo", sans-serif;
}

#header p {
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
  color: #c8c8c8;
  text-align: center;
  letter-spacing: 10px;
  padding-bottom: 10px;
}

.navGroup {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
}

.navGroup > span {
  display: flex;
}

.navGroup span.selected {
  color: var(--navgrouptext_hover_light);
}

.navGroup a {
  color: var(--nav_link_color_light);
}

.navGroup.home a,
.navGroup.home span.selected {
  padding: 10px 25px 10px 25px;
}

.navGroup a,
.navGroup span.selected {
  padding: 10px 50px 10px 50px;
  margin: 0;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  flex-shrink: initial;
  flex-direction: row;
  margin-right: 2%;
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.45em;
  text-transform: uppercase;
  font-weight: bold;
}

.navGroup > span:first-child {
  text-align: left;
  margin-left: 1.5%;
  flex-grow: 1.5;
}

.navGroup > span > span,
.navGroup > span > a {
  border-right: 1px solid var(--navgroup_sep_light);
  flex-grow: 0.15;
}

.navGroup span.divider {
  width: 2px;
  /* position: absolute; */
  display: flex;
  /* width: 2px; */
  flex-basis: 100%;
  /* display: inline-block; */
  height: 40px;
  content: "";
}

.navGroup a:hover {
  color: var(--navgrouptext_hover_light);
  cursor: pointer;
}

.searchbar img {
  position: absolute;
  z-index: 100;
  text-align: left;
  top: 11px;
  right: 10px;
  max-width: 20px;
}

.searchbar {
  flex-grow: 1;
  width: 45%;
  margin-left: 2%;
  margin-right: 5%;
}

@media (max-width: 1467px) {
  .navGroup a {
    margin: auto;
    float: none;
    border: none;
    border-right: 1px solid var(--navgroup_sep_light);
  }
}
@media (max-width: 848px) {
  .navGroup {
    margin: auto;
    width: 100%;
    float: none;
    display: block;
  }
  .navGroup a {
    margin: auto;
    float: none;
    border: none;
    padding: 10px 10px;
  }
  .searchbar {
    margin: auto;
    display: block;
    float: none;
    width: 75%;
  }
}
#header div.nav a {
  color: #e8ffb1;
  text-decoration: none;
}

#header div.nav a:hover {
  text-decoration: underline;
}

.returnButtonAbout a {
  text-decoration: none;
  color: #fff;
  background-color: var(--contrast2_color_light);
  font-size: 1.25em;
  float: right;
  margin-right: 10%;
  margin-bottom: 1%;
  padding: 10px;
  border-radius: 10px;
  text-shadow: 1px 1px 4px #666666;
  text-transform: uppercase;
}

.returnButtonAbout a:hover {
  text-decoration: none;
}

.returnButton a {
  text-align: center;
  height: 40px;
  line-height: 22px;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  background-color: var(--contrast2_color_light);
  font-size: 1.25em;
  float: right;
  margin-right: 25%;
  padding: 10px;
  border-radius: 10px;
  text-shadow: 1px 1px 4px #666666;
  text-transform: uppercase;
  width: 120px;
  margin-top: 10px;
}

.returnButton a:hover {
  text-decoration: none;
}

#footer {
  clear: both;
  float: left;
  /* Prevent vertical gaps */
  line-height: 0;
  margin: auto;
  /* padding-left:10%;
  padding-right:15% */
}

#footer p {
  /* margin-left: 2%; */
  padding-right: 2%;
}

/* ------ visual styling ------- */
#cardHolder {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-count: 2;
  -moz-column-gap: 0px;
  column-count: 2;
  column-gap: 0px;
  width: 80%;
  margin: auto;
}

@media (max-width: 850px) {
  #cardHolder {
    -moz-column-count: 1;
    column-count: 1;
  }
}
#footer .elcCard div {
  padding: 0px;
  /* float: left; */
  display: inline-block;
}

#footer .elcCard {
  width: 70%;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.3764705882);
  border-color: transparent;
}

#footer #elcCopyrightInfo {
  width: 100%;
  margin: auto;
}

#footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: auto !important;
  /* margin: 10px; */
  /* line-height: normal; */
  /* display: inline-block; */
  /* border-radius: 5px; */
  /* border: 1px solid #707070; */
}

.elcCard div {
  padding: 15px;
}

.elcCard {
  background-color: #ececec;
  padding-bottom: 10px;
  width: 94%;
  height: auto !important;
  margin: 10px;
  line-height: normal;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #707070;
}

.elcCard h2 {
  margin-top: 5px;
  background-color: var(--header_light);
  padding: 16px 10px 9px 25px;
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #ffffff;
  margin-top: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.aboutSubHeader {
  font-size: 1.75em;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  color: #ffffff;
  background: var(--contrast2_color_light);
  padding: 16px 10px 9px 25px;
  border-radius: 10px 10px 0 0;
}

.about > a {
  color: #ffffff;
  text-decoration: none;
}

.about {
  background-color: var(--header_light);
}

#title {
  color: #6b6b6b;
  background-color: #fff;
}

#titleCard {
  background-color: var(--header_light);
}

h2#title {
  font-weight: bolder;
  font-style: italic;
  /* font-weight: 800; */
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  padding-left: 20px;
}

h3#author {
  background: transparent;
  color: #fff;
  text-shadow: none;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-left: 8%;
  margin-right: 8%;
}

#statementText,
#authorbio {
  padding: 0 3%;
}

h3#artistStatementLabel,
h3#bioLabel {
  text-transform: uppercase;
  font-weight: bolder;
  color: #787878;
  padding-bottom: 0px;
  margin-bottom: 2px;
}

#tags {
  padding: 0px;
  margin: 0px;
}

div#keywords {
  padding-bottom: 0px;
  margin-top: -10px;
  margin-bottom: -10px;
}

#keywords h3,
h3#techDetailsLabel {
  /* text-transform: uppercase; */
  font-weight: bolder;
  color: #787878;
  font-size: 1em;
}

#keywordsFilters hr {
  width: 100%;
  margin: auto;
  border: 1px solid #787878;
  /* margin-bottom: 2%; */
}

hr {
  width: 75%;
  margin: auto;
  border: 2px solid #c1c1c1;
  margin-bottom: 2%;
}

.elcCard p :first {
  margin-top: 1em;
}

.elcCard div {
  padding-top: 5px;
}

.elcCard p {
  text-align: left;
  -moz-text-align-last: left;
  /* Code for Firefox */
  text-align-last: left;
  padding: 0px 3%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#ref .elcCard p:last-child {
  /* because of the weird background stuff, we need to set the padding for the last one to compensate */
  padding-bottom: 4%;
}

a {
  color: var(--contrast4_color_light);
  text-decoration: underline;
}

h2 a.glossaryLink {
  color: #FFFFFF;
}

a:hover {
  text-decoration: underline;
}

#active {
  color: var(--textcolor_light);
}

#cboxLoadedContent {
  padding: 25px;
}

#metadataCard a,
#artistCard a {
  color: var(--contrast2_color_light);
  font-weight: normal;
}

#downloadsCard h2,
#metadataCard h2,
#artistCard h2,
#editorialCard h2 {
  /* text-transform: uppercase; */
  font-weight: normal;
  font-size: 1.5em;
  padding: 10px;
}

#begin {
  cursor: pointer;
  width: 40%;
}

#highlightedWorks {
  display: block;
  text-decoration: none;
  color: black;
}

#highlightedWorks #featuredWorkContainer {
  display: flex;
  width: 80%;
  margin-left: auto;
}

#beginLinksContainer,
a.beginLink {
  color: var(--begin_link_color);
  margin: 0px;
  padding: 0px;
}

#begin,
a.beginLink {
  margin: auto;
  margin-bottom: 20px;
  display: block;
  background-color: var(--contrast_color_light);
  text-align: center;
  color: var(--begin_link_color);
  line-height: 42px;
  font-size: 1em;
  text-decoration: none;
  border: 1px solid var(--begin_link_border_light);
  text-transform: uppercase;
  font-weight: bold;
}

.tags {
  font-family: "Trebuchet MS", sans-serif;
  /* text-transform: uppercase; */
  color: #055f0c;
  margin-left: 25px;
  padding: 0px;
}

#authorbox {
  background-color: var(--header_light);
}

#authorbox hr {
  height: 9px;
  background-color: #055f0c;
  margin-left: 25px;
  margin-bottom: 15px;
}

/* front page styles */
.clearFloat {
  width: 1px;
  height: 1px;
  clear: both;
}

#indexContainer {
  width: 80%;
  margin: auto;
}

#indexContainer {
  /* Prevent vertical gaps */
  /* line-height: 7; */
  width: 80%;
  -webkit-column-count: 5;
  -webkit-column-gap: 45px;
  -moz-column-count: 5;
  -moz-column-gap: 45px;
  column-count: 5;
  column-gap: 45px;
}

#indexContainer.bots {
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
}

@media (max-width: 1200px) {
  #indexContainer {
    -moz-column-count: 5;
    column-count: 5;
  }
  #begin {
    width: 75%;
  }
}
@media (max-width: 1100px) {
  #indexContainer {
    -moz-column-count: 3;
    column-count: 3;
  }
  #indexContainer.bots {
    -moz-column-count: 3;
    column-count: 3;
  }
  #header span.nav {
    font-size: 1.5em;
  }
}
@media (max-width: 1000px) {
  #indexContainer {
    -moz-column-count: 3;
    column-count: 3;
  }
  #header span.nav {
    margin: 20px;
  }
}
@media (max-width: 900px) {
  #indexContainer {
    -moz-column-count: 3;
    column-count: 3;
  }
  #indexContainer.bots {
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  #indexContainer {
    -moz-column-count: 2;
    column-count: 2;
  }
  #highlightedWorks #featuredWorkContainer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  #header h1 {
    font-size: 2em;
  }
}
@media (max-width: 600px) {
  .navGroup.home a,
  .navGroup.home span.selected {
    padding: 0px 0px 0px 0px;
  }
  #indexContainer {
    -moz-column-count: 2;
    column-count: 2;
  }
  #indexContainer.bots {
    -moz-column-count: 3;
    column-count: 3;
  }
  #highlightedWorks #featuredWorkContainer img {
    height: auto;
    width: 80%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 500px) {
  #indexContainer {
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  #indexContainer {
    -moz-column-count: 1;
    column-count: 1;
  }
  #indexContainer.bots {
    -moz-column-count: 1;
    column-count: 1;
  }
}
#indexContainer div.work {
  position: relative;
  margin-bottom: 26px;
  cursor: pointer;
}

#indexContainer img.workIcon,
#highlightedWorks img.workIcon {
  opacity: 0.7;
  -o-object-fit: fill;
     object-fit: fill;
  aspect-ratio: 259/83;
  overflow: hidden;
}

#highlightedWorks {
  cursor: pointer;
}

#highlightedWorks img.workIcon {
  opacity: 1;
}

#highlightedWorks div.beginText {
  line-height: 90px;
}

#highlightedWorks .overlay > img {
  width: 100% !important;
  height: 100%;
}

#highlightedWorks > img {
  width: 100% !important;
  height: 100%;
  border: 1px solid #6D6D6D;
  size: "5em";
  overflow-y: hidden;
  cursor: pointer;
  border-radius: 20px;
}

#indexContainer img,
div.beginWork {
  width: 100% !important;
  border: 1px solid #6D6D6D;
  size: "5em";
  overflow-y: hidden;
  cursor: pointer;
  border-radius: 20px;
}

h2#title {
  text-align: center;
  /* display: absolute; */
  margin-top: 2%;
  margin-right: -2.5%;
  margin-left: -2.5%;
  margin-bottom: 0;
  border-radius: 5px;
  border: 1px solid #6D6D6D;
}

div#title {
  background-color: #95d302;
  border: 3px solid #95d302;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px var(--title_shadow_light);
  font-size: 1.8em;
  margin: 5px;
  padding: 24px 0px;
  line-height: 1em;
}

div#title span {
  text-shadow: none;
  color: black;
  position: relative;
  top: 7px;
}

div#link {
  background-color: #95d302;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.32);
  font-size: 1.4em;
  margin: 5px;
  border: 3px solid #772e54;
  margin-top: 7px;
}

div#link a {
  color: white;
}

div#link img {
  border: none;
}

#collections {
  background-color: transparent;
  border: none;
  text-align: center;
  margin: auto;
}

/*
#indexContainer #collections div {
    border: 3px solid #646464;
    line-height: 1.6em;
}
*/
.collection h2 {
  background: none;
  color: white;
  font-size: 2em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.46);
  padding: 0px;
  font-size: 1.4em;
  top: 0px;
}

.collection h2 a {
  color: white;
}

.collectionBody #footer p {
  margin-left: 0px;
  padding: 0 6%;
}

#popup {
  background-color: #9ac486;
  max-width: 500px;
  padding-bottom: 1px;
}

#popup h2 {
  background: none;
  color: white;
  font-size: 2em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.46);
  margin-bottom: 0px;
  width: 75%;
}

#popup h3 {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  color: black;
  margin-top: 5px;
}

#popup a {
  display: block;
  width: 16%;
  background-color: #517947;
  height: 30px;
  text-align: center;
  padding-top: 15px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.44);
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 1.3em;
  float: right;
}

#returnLink {
  font-family: "Open Sans", sans-serif;
  padding: 17px 0px;
  display: block;
  font-size: 1.5em;
}

span:lang(ar) {
  font-family: "Amiri", serif;
}

/* this makes sure nothing shows if we don't have info for it */
#location,
#tags,
#artistStatementLabel,
#techCard,
#instrLabel,
#instructions,
#reqLabel,
#requirements,
#addendaCard,
#prevPubLabel,
#previousPub,
#furtherRefLabel,
#ref {
  display: none;
}

#downloadsCard #sourceLink {
  font-size: 1.2em;
}

.versionHistory li {
  font-size: 12pt;
}

.elcContainer li {
  list-style-type: square;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1rem;
}

#footer #editorialCard {
  /* editorial cards on collections pages */
  width: 80%;
  margin: auto;
  display: block;
  margin-top: 30px;
}

#footer #editorialCard h2 {
  font-size: 2em;
}

#header #editorialStatement {
  display: block;
  width: 90%;
  margin: auto;
}

#header #editorialStatement p {
  margin: 0px;
  padding: 0px;
  padding-bottom: 16px;
}

#list {
  margin: auto;
}

#list h3 {
  padding-left: 0px;
  margin-bottom: 0px;
}

#list h4 {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 40px;
  color: #249A6F;
}

.listRecord p {
  padding: 0px;
  color: #fff1a3;
}

#about #editorialStatement p {
  color: #c3c3c3;
}

#editorialStatement h2,
#editorialStatement h4 {
  background: none;
  border-bottom: 1px solid #fff1a3;
  padding-left: 0px;
  margin-left: 1em;
  margin-right: 1em;
}

#editorialStatement h3 {
  padding-left: 0px;
}

#elcCopyright,
#workLicense,
#docsLicense {
  color: #000000;
  /* margin-top: 10px; */
}

#elcCopyright img,
#workLicense img,
#docsLicense img {
  width: 100px;
  padding: 0px;
}

#workBody #footer {
  /* width: 86%; */
  margin: auto;
  float: none;
  margin-bottom: 15px;
}

#main #footer {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  text-align: right;
  float: none;
}

.tagify__input {
  background-color: #cfcfcf;
  border: 1px solid #787878;
  border-radius: 5px;
}

.keywordTag {
  background-color: #222222;
  color: white;
  font-size: small;
  padding: 5px;
  border-radius: 5px;
  margin-right: 6px;
  margin-bottom: 4px;
}

.keywordTagSelected {
  background-color: var(--keyword_tag_selected_light);
}

/* When you mouse over the container, fade in the overlay icon*/
#indexContainer div.work:hover div.overlay {
  opacity: 1;
}

#highlightedWorks h3,
#highlightedWorks div {
  pointer-events: none;
}

#highlightedWorks .overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 332px;
  text-align: center;
  font-size: 16pt;
  opacity: 0;
  transition: 0.3s ease;
  line-height: normal;
}

.work .overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 16pt;
  opacity: 0;
  transition: 0.3s ease;
  line-height: normal;
  z-index: 100;
}

.beginText {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 100%;
  margin: auto;
  padding: 10px;
  font-size: 1.8em;
}

#currentWork {
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#currentWork div {
  background-color: var(--current_work_background_light);
  color: var(--current_work_foreground_light);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 20pt;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 60px;
  vertical-align: middle;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 20px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #249A6F;
}

input:checked + .slider:before,
input:checked + .slider:before img {
  transform: translateX(30px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/* --> */
pre {
  border: 3px solid black;
  color: black;
  background: #eeeeee;
  font-size: 130%;
  padding: 1em;
}

.pre-container {
  position: relative;
}

.comment {
  background: #249A6F;
  color: white;
  font-weight: bold;
  padding: 8px;
  top: none;
  right: none;
}

.revealer {
  border: 6px outset #249A6F;
  background: #49977b;
  color: #2ed095;
  font-weight: bold;
  text-decoration: none;
  padding: 4px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 0;
}

.revealer:hover {
  border-style: inset;
  z-index: 50;
}

.revealer span {
  /*CSS for enlarged image*/
  position: absolute;
  visibility: hidden;
  background: transparent;
}

.revealer span pre {
  /*CSS for enlarged image*/
  border: 3px dashed green;
  color: black;
  font-size: 105%;
  background-color: #eeee00;
  margin-left: 0px;
  text-indent: 0px;
}

.revealer:hover span {
  /*CSS for enlarged image on hover*/
  visibility: visible;
  top: 0px;
  right: 0px;
  /*position where enlarged image should offset horizontally */
}

div.csl-bib-body {
  padding: 5px;
  margin-top: 0px;
}

div.csl-entry {
  margin-top: 0.5em;
  border: 2px solid var(--contrast2_color_light);
  padding-bottom: 25px;
  position: relative;
}

div.actually-no-different-than-csl-entry {
  margin-top: 0.5em;
  margin-left: 2em;
  text-indent: -2em;
  border: 2px solid var(--contrast2_color_light);
  border-left-style: none;
  position: relative;
}

div.csl-entry-heading:before {
  content: "csl-entry-heading:";
  font-weight: bold;
  color: blue;
}

div.csl-entry-heading {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  padding: 0.4em;
  background: #ffff66;
}

div.csl-left-label:before {
  content: "csl-left-label:";
  font-weight: bold;
  color: blue;
}

div.csl-left-label {
  width: 14em;
  float: left;
  text-indent: 1em;
  padding: 0.4em 0px 0.4em 0em;
  border: 2px solid blue;
}

div.csl-item:before {
  content: "csl-item:";
  font-weight: bold;
  color: blue;
}

div.csl-item {
  margin-left: 14em;
  padding: 0.4em 0.4em 0.4em 1em;
  background: #eeeeff;
}

div.csl-indented-block:before {
  content: "csl-indented-block";
  font-weight: bold;
  color: blue;
}

div.csl-indented-block {
  margin: 0.2em 0px 0.5em 5em;
  padding: 0.4em;
  background: #ffeeee;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--contrast1_color_light);
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--nav_link_color_light);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: var(--contrast2_color_light);
  border-color: var(--contrast2_color_light);
}

.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--contrast2_color_light);
  border-color: var(--contrast2_color_light);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--contrast2_color_light);
  border-color: var(--contrast2_color_light);
}

.siteHeader,
.siteHeader__brandRow,
.siteHeader__navBar {
  background-color: #ececec;
}
/*# sourceMappingURL=app.css.map */