.elcCardHeader {
  background-color: var(--header_light);
  border-bottom: 0;
  padding: 1rem 1.5rem;
}

.elcCardHeader .card-title {
  font-size: 2em;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 0;
}

.elcCardBody {
  padding: 1.25rem 1.5rem 1.5rem;
}
